src/.vs/
src/.idea/
src/*/bin/
src/*/obj/
src/sports-booker-auth.sln.DotSettings.user

.vs/
.idea/

Dependencies/*
Artifacts/*
Output/*

Tests/obj/*
TestsOutput/*

.env
src/CourtBooker-Auth.sln.DotSettings.user
src/Presentation/Presentation.csproj
